.flex-col-10 {
    flex: 1 1 10%;
}

.flex-col-20 {
    flex: 1 1 20%;
}

.flex-col-30 {
    flex: 1 1 30%;
}

.flex-col-40 {
    flex: 1 1 40%;
}

.flex-col-50 {
    flex: 1 1 50%;
}

.flex-col-60 {
    flex: 1 1 60%;
}

.flex-col-70 {
    flex: 1 1 70%;
}

.flex-col-80 {
    flex: 1 1 80%;
}

.flex-col-90 {
    flex: 1 1 90%;
}

.flex-col-100 {
    flex: 1 1 100%;
}