.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    transition: all ease 300ms;
}

.grid-gap-10 {
    grid-gap: 10px;
}

.grid-gap-15 {
    grid-gap: 15px;
}

.grid-gap-20 {
    grid-gap: 20px;
}

.grid-gap-25 {
    grid-gap: 25px;
}

.grid-gap-30 {
    grid-gap: 30px;
}

.grid-gap-35 {
    grid-gap: 35px;
}

.grid-gap-40 {
    grid-gap: 40px;
}

.grid-gap-45 {
    grid-gap: 45px;
}

.grid-gap-50 {
    grid-gap: 50px;
}

.grid-gap-55 {
    grid-gap: 55px;
}

.grid-gap-60 {
    grid-gap: 60px;
}