:root {
    --navbar-animation-speed:350ms;
    --underline-animation-speed: 500ms;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 99999;
    transition: all ease var(--navbar-animation-speed);
}

.navbar-top {
    background-color: rgba(100,100,100,0);
}

.navbar-scroll {
    background-color: rgba(100,100,100,1);
}

.navbar-container {
    width: 70%;
    margin: 0 auto;
}

.navbar-container a span{
    margin: 0;
    padding: 0 10px;
    font-weight: 600;
}

.navbar-container a {
    transition: all ease var(--navbar-animation-speed);
}

.navbar-top .navbar-container a{
    font-size: 22px;
    padding: 25px 16px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.navbar-scroll .navbar-container a{
    font-size: 18px;
    padding: 12px 12px;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}


.navbar-hover-slider {
    transition: 250ms;
    position: absolute;
    left: calc(-100% - 20px);
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: red;
    transition: all ease var(--underline-animation-speed);
    margin: 0;
    padding:0;
}

.navbar-container a:hover .navbar-hover-slider{
    left: 0;
}

.navbar-top a{
    color: rgb(100,100,100);
}

.navbar-scroll a{
    color: rgb(230,230,230);
}

.lang-icon {
    transition: all ease var(--navbar-animation-speed);
}

.navbar-top .lang-icon {
    width: 35px;
}

.navbar-scroll .lang-icon {
    width: 20px;
}

.lang-dropdown {
    float: right;
    overflow: hidden;
}

.navbar-top .lang-dropdown .lang-dropdown-btn{
    border: none;
    outline: none;
    color: white;
    padding: 25px 0px;
    background-color: transparent;
}

.navbar-scroll .lang-dropdown .lang-dropdown-btn{
    border: none;
    outline: none;
    color: white;
    padding: 0;
    background-color: transparent;
    margin-top: 15px;
}

.lang-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.lang-dropdown-content .lang-icon{
    padding: 10px
}

.lang-dropdown-content img{
    float: none;
    display: block;
}

.lang-dropdown:hover .lang-dropdown-content {
    display: block;
}